<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.adminmanagement.dao.UserMapper" >
  <select id="countUser" parameterType="com.qf.adminmanagement.pojo.dto.UserPageInfo" resultType="java.lang.Integer">
      select count(userid) from tb_user
      <if test="searchWord != null and searchWord != ''">
        <where>
          username like "%${searchWord}%" or realname like "%${searchWord}%"
        </where>
      </if>
  </select>

  <select id="searchUserByPage" parameterType="com.qf.adminmanagement.pojo.dto.UserPageInfo" resultType="com.qf.common.pojo.po.TbUser">
    select * from tb_user
    <if test="searchWord != null and searchWord != ''">
      <where>
        username like "%${searchWord}%" or realname like "%${searchWord}%"
      </where>
    </if>
      limit #{offSet},#{pageSize}
  </select>

    <insert id="saveUser" parameterType="com.qf.common.pojo.po.TbUser" >
        INSERT INTO tb_user(username,password,phone,mail,address,realname,postalcode,usernote,sex,spare) VALUES(#{username},#{password},#{phone},#{mail},#{address},#{realname},#{postalcode},NULL,#{sex},NULL)
    </insert>

    <update id="modifyUser" parameterType="com.qf.common.pojo.po.TbUser">
        update tb_user set username=#{username},password =#{password},phone=#{phone},mail=#{mail},address=#{address},realName=#{realname},postalCode=#{postalcode},usernote=#{usernote},sex=#{sex},spare=#{spare} where userid=#{userid}
    </update>

    <delete id="removeUser" parameterType="java.lang.Integer">
        delete from tb_user where userid=#{userid}
    </delete>

    <delete id="removeUsers">
        delete from tb_user where userid in
        <foreach item="array" index="index" collection="list" open="(" separator="," close=")">
            #{array}
        </foreach>
    </delete>
</mapper>